@font-face {
  font-family: halo3;
  src: url('https://raw.githubusercontent.com/chaos12135/sarp_forum/master/profile/Halo3.ttf');
};

@font-face {
  font-family: avengerh;
  src: url('https://raw.githubusercontent.com/chaos12135/sarp_forum/master/profile/AVENGEANCE HEROIC AVENGER.ttf');
};
